a {
	color: #666666;
}

.wrapper #head {
	padding-top: 50px;
	text-align: center;
}

.wrapper #head .p {
	font-size: 18px;
}

.wrapper #head .bold {
	font-weight: bold;
	margin: 5px 0;
	font-size: 18px;
}

.wrapper nav {
	margin-top: 50px;
}

.wrapper nav ul li {
	text-align: center;
	float: left;
	width: 330px;
}

.wrapper nav ul li a {
	height: 40px;
	line-height: 35px;
	display: block;
	color: #000000;
}

.wrapper nav ul .current-position-nav {
	background-image: url(../img/tapbg.png);
	background-repeat: no-repeat;
	background-size: cover;
	color: red;
}

.wrapper nav ul li:hover a {
	color: red;
}

.wrapper .content {
	margin-top: 50px;
}

.wrapper .content .list  {
	width: 720px;
	float: left;
	display: none;
}

.wrapper .content .content-now {
	display: block;
}

.wrapper .content .list ul li{
	border: 1px solid #d6d6d6;
	height: 131px;
	width: 658px;
	padding: 24px 30px;
	margin-bottom: 26px;
	color: #666;
	font-size: 12px;
}

.wrapper .content .list ul li:hover {
	border: 1px solid #D43B33;
}

.wrapper .content .list ul li div.img {
	width: 188px;
	height: 125px;
	margin-right: 40px;
	float: left;
}

.wrapper .content .list ul li div.img img{
	width: 188px;
	height: 125px;
}

.wrapper .content .list ul li div.img a {
	display: block;
}

.wrapper .content .list ul li div.right {
	width: 430px;
	float: left;
}

.wrapper .content .list ul li div.right p.title {
	font-size: 16px;
	font-weight: bold;
	margin-bottom: 15px;
}

.wrapper .content .list ul li div.right p.title:hover a, .wrapper .content .list ul li div.right p.p:hover a{
	color: #333;
}

.wrapper .content .list ul li div.right p.p {
	height: 62px;
	text-overflow: ellipsis;
	overflow: hidden;
	margin-bottom: 15px;
	line-height: 20px;
}

.wrapper .content .list ul li div.right p.bottom .view{
	background: url("../img/eye.png") no-repeat center left;
	padding-left: 19px;
	margin-left: 30px;
}

.wrapper .content .list ul li div.right p.bottom a {
	float: right;
	padding-right: 16px;
}

.wrapper .content .list ul li div.right p.bottom a:hover {
	color: red;
}

.wrapper .content #right {
	width: 210px;
	padding: 75px 20px 25px;
	border: solid 1px #d6d6d6;
	float: left;
	margin-left: 28px;
	background: url(../img/recombg.png) no-repeat 18px 16px;
}

.wrapper #button {
	margin: 0 0 60px 0;
}

.wrapper #button ul li {
	float: left;
	background-color: #D8D8D8;
	height: 35px;
	text-align: center;
	border-left: solid 1px #e7e9ea;
	border-right: solid 1px #ebeeef;
}

.wrapper #button ul li.back {
	border-bottom-left-radius: 5px;
	border-top-left-radius: 5px;
}

.wrapper #button ul li.forward {
	font-size: 16px;
	border-bottom-right-radius: 5px;
	border-top-right-radius: 5px;
}

.wrapper #button ul li.back a, .wrapper #button ul li.forward a {
	font-size: 16px;
} 

.wrapper #button ul li a {
	line-height: 35px;
	display: block;
	color: #fff;
	font-size: 12px;
	font-weight: bold;
	padding: 0 15px;
}

.wrapper #button ul li:hover {
	background: #b50900;
}

.wrapper #button ul li#current-position-page {
	background: #b50900;
}
