.wrapper .titlecontainer {
	height: 214px;
	font-size: 14px;
}

.wrapper .titlecontainer p.path {
	padding-top: 50px;
}

.wrapper .titlecontainer p.path a {
	display: inline;
	color: #000000;
}

.wrapper .titlecontainer p.path a:hover {
	color: red;
}

.wrapper .titlecontainer p.sourceinfo {
	border-top: solid 1px #F3E3C9;
	padding-top: 10px;
	text-align: center;
	color: #666;
}

.wrapper .titlecontainer h1 {
	padding-top: 56px;
	text-align: center;
	font-size: 24px;
	color: #D64F49;
}

.wrapper .projectcontent {
	line-height: 24px;
	padding:20px 10px;
}

.wrapper .projectcontent p {
	line-height: 30px;
	text-indent: 8mm;
	margin-bottom: 20px;
}

.wrapper .pager {
	color: #B8200D;
	padding: 20px 0;
	font-size: 12px;
}

.wrapper .pager a {
	color: #B8200D;
	margin-right: 20px;
	display: inline-block;
}

.wrapper .pager a:hover {
	color: red;
}